doctype html
html
  head
    meta(charset="UTF-8")
    meta(
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    )
    script(type="text/javascript" src="assets/ckeditor/ckeditor.js")
    script(type="text/javascript" src="assets/header.js")
    script(type="text/javascript" src="assets/footer.js")
    script(type="text/javascript" src="assets/FileSaver.min.js")
    script(type="text/javascript" src="app.js")

    link(rel="stylesheet" type="text/css" href="main.css")
    title
      | HTML Page Generator
  body
    div.top-bar
      div.container
        span.brand
          | HTML Page Generator

    div#wrapper
      div#generator
        textarea#editor1.ckeditor(
          name="editor1"
        )
      div#interAction
        div#reset
          input#resetAll(
            type="reset"
            name="reset"
            value="Reset All"
            disabled
          )
        div#fileName
          input#docTitle(
            type="text"
            name="docTitle"
            placeholder="default"
          )
        div#button
          input#saveAs(
            type="submit"
            name="saveAs"
            value="Generate / Download"
            disabled
          )
      div#console
        | Console Output:
        textarea#output(
          readonly
        )